@page "/"

<PageTitle>Welcome to your new to do list!</PageTitle>


<div class="d-flex justify-content-center">
  <h1 style="font-family: 'Book Antiqua'" > <b>Welcome to your new to do list! </b></h1>

</div>


<AuthorizeView>
  

</AuthorizeView>

@code{



}